.version.logout /* version checker */
{
	color: #000007;
	background-color: #C5E016;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 351px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 149px;
	width: 100%;
	max-width: 768px;
	margin-left: auto;
	margin-right: auto;
}

#u117_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#u120
{
	z-index: 3;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	width: 4.04%;
	left: 1.18%;
}

#pu130-4
{
	margin-right: -10000px;
	margin-top: 6px;
	width: 17.32%;
	margin-left: 5.99%;
}

#u130-4
{
	z-index: 5;
	position: relative;
	width: 100%;
}

#u135-4
{
	z-index: 9;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
	width: 93.24%;
	margin-left: 5.27%;
}

#menuu193
{
	z-index: 13;
	width: 490px;
	position: relative;
	margin-right: -10000px;
	left: 273px;
}

#u4618
{
	width: 96px;
	min-height: 62px;
	position: relative;
	margin-right: -10000px;
}

#u4621
{
	width: 96px;
	padding-bottom: 45px;
	position: relative;
}

#u4621:hover
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u4621:active
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u6351
{
	width: 96px;
	min-height: 62px;
	position: relative;
	margin-right: -10000px;
	left: 98px;
}

#u6352
{
	width: 96px;
	padding-bottom: 45px;
	position: relative;
}

#u4621.MuseMenuActive,#u6352:hover
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u6352:active
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u6372
{
	width: 96px;
	min-height: 62px;
	position: relative;
	margin-right: -10000px;
	left: 196px;
}

#u6373
{
	width: 96px;
	padding-bottom: 45px;
	position: relative;
}

#u6352.MuseMenuActive,#u6373:hover
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u6373:active
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u6373.MuseMenuActive
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u4623-4_clip,#u6354-4_clip,#u6376-4_clip
{
	width: 96px;
	height: 17px;
}

#u6393
{
	width: 97px;
	min-height: 62px;
	position: relative;
	margin-right: -10000px;
	left: 294px;
}

#u6394
{
	width: 97px;
	padding-bottom: 45px;
	position: relative;
}

#u6394:hover
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u6394:active
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u6414
{
	width: 97px;
	min-height: 62px;
	position: relative;
	margin-right: -10000px;
	left: 393px;
}

#u6415
{
	width: 97px;
	padding-bottom: 45px;
	position: relative;
}

#u6394.MuseMenuActive,#u6415:hover
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u6415:active
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u6415.MuseMenuActive
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u6397-4_clip,#u6416-4_clip
{
	width: 97px;
	height: 17px;
}

#u4623-4,#u6354-4,#u6376-4,#u6397-4,#u6416-4
{
	position: relative;
	margin-right: -10000px;
	top: 22px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u117,#u117-bw
{
	z-index: 2;
	min-height: 62px;
}

#pu5957
{
	margin-top: 24px;
	width: 100%;
}

#u5957
{
	z-index: 44;
	height: 265px;
	background-color: #FFFFFF;
	opacity: 0.79;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=79)";
	filter: alpha(opacity=79);
	position: relative;
	margin-right: -10000px;
	width: 60.03%;
	left: 20.06%;
}

#u5960-4
{
	z-index: 45;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	width: 51.18%;
	left: 24.48%;
}

#buttonu5963
{
	z-index: 49;
	border-color: #787878;
	background-color: #39B54A;
	border-radius: 10px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	margin-top: 145px;
	width: 30.08%;
	left: 35.03%;
}

#buttonu5963:hover
{
	background-color: #009245;
	min-height: 0px;
	width: 30.08%;
	margin: 145px -10000px 0px 0%;
}

#u5964
{
	z-index: 51;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	width: 51.52%;
	left: 24.25%;
	background: transparent url("../images/u5964.png") no-repeat 0px 0px;
	background-size: contain;
}

#u5964 .fluid_height_spacer
{
	padding-bottom: 24.369747899159663%;
}

#buttonu5963:hover #u5964
{
	background: transparent url("../images/u5964-r.png") no-repeat 0px 0px;
	background-size: contain;
}

.html
{
	background: #FFFFFF url("../images/background.jpg") no-repeat center center scroll;
	background-size: cover;
}

body
{
	position: relative;
	min-width: 320px;
}

#u120_img
{
	width: 100%;
}

