#u5589_align_to_page
{
	max-width: 768px;
}

#menuu5590
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u5589,#u5606
{
	background-color: #902012;
}

#u5606:hover
{
	background-color: #671300;
}

#u5606:active
{
	background-color: #671300;
}

#u5594
{
	background-color: #902012;
}

#u5606.MuseMenuActive,#u5594:hover
{
	background-color: #671300;
}

#u5594:active
{
	background-color: #671300;
}

#u5601
{
	background-color: #902012;
}

#u5594.MuseMenuActive,#u5601:hover
{
	background-color: #671300;
}

#u5601:active
{
	background-color: #671300;
}

#u5613
{
	background-color: #902012;
}

#u5601.MuseMenuActive,#u5613:hover
{
	background-color: #671300;
}

#u5613:active
{
	background-color: #671300;
}

#u5620
{
	background-color: #902012;
}

#u5613.MuseMenuActive,#u5620:hover
{
	background-color: #671300;
}

#u5620:active
{
	background-color: #671300;
}

#u5620.MuseMenuActive
{
	background-color: #671300;
}

#u5608-4_clip,#u5595-4_clip,#u5604-4_clip,#u5614-4_clip,#u5623-4_clip
{
	overflow: hidden;
	vertical-align: top;
}

#u5608-4_img,#u5595-4_img,#u5604-4_img,#u5614-4_img,#u5623-4_img
{
	display: block;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u5680
{
	background-color: #FFFFFF;
	opacity: 0.56;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=56.00000000000001)";
	filter: alpha(opacity=56.00000000000001);
}

#u5628,#u5605,#u5591,#u5598,#u5612,#u5619,#u5695
{
	background-color: transparent;
}

#u5627-4,#u5626-4,#u5683-4,#u5705-4
{
	display: block;
	vertical-align: top;
}

