.version.organizations /* version checker */
{
	color: #000019;
	background-color: #054D5B;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 480px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 20px;
	width: 100%;
	max-width: 768px;
	margin-left: auto;
	margin-right: auto;
}

#u5589_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#u5628
{
	z-index: 3;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	width: 4.04%;
	left: 1.18%;
}

#pu5627-4
{
	margin-right: -10000px;
	margin-top: 6px;
	width: 17.32%;
	margin-left: 5.99%;
}

#u5627-4
{
	z-index: 5;
	position: relative;
	width: 100%;
}

#u5626-4
{
	z-index: 9;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
	width: 93.24%;
	margin-left: 5.27%;
}

#menuu5590
{
	z-index: 13;
	width: 490px;
	position: relative;
	margin-right: -10000px;
	left: 273px;
}

#u5605
{
	width: 96px;
	min-height: 62px;
	position: relative;
	margin-right: -10000px;
}

#u5606
{
	width: 96px;
	padding-bottom: 45px;
	position: relative;
}

#u5606:hover
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u5606:active
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u5591
{
	width: 96px;
	min-height: 62px;
	position: relative;
	margin-right: -10000px;
	left: 98px;
}

#u5594
{
	width: 96px;
	padding-bottom: 45px;
	position: relative;
}

#u5606.MuseMenuActive,#u5594:hover
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u5594:active
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u5598
{
	width: 96px;
	min-height: 62px;
	position: relative;
	margin-right: -10000px;
	left: 196px;
}

#u5601
{
	width: 96px;
	padding-bottom: 45px;
	position: relative;
}

#u5594.MuseMenuActive,#u5601:hover
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u5601:active
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u5601.MuseMenuActive
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u5608-4_clip,#u5595-4_clip,#u5604-4_clip
{
	width: 96px;
	height: 17px;
}

#u5612
{
	width: 97px;
	min-height: 62px;
	position: relative;
	margin-right: -10000px;
	left: 294px;
}

#u5613
{
	width: 97px;
	padding-bottom: 45px;
	position: relative;
}

#u5613:hover
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u5613:active
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u5619
{
	width: 97px;
	min-height: 62px;
	position: relative;
	margin-right: -10000px;
	left: 393px;
}

#u5620
{
	width: 97px;
	padding-bottom: 45px;
	position: relative;
}

#u5613.MuseMenuActive,#u5620:hover
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u5620:active
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u5620.MuseMenuActive
{
	width: 97px;
	min-height: 0px;
	margin: 0px;
}

#u5614-4_clip,#u5623-4_clip
{
	width: 97px;
	height: 17px;
}

#u5608-4,#u5595-4,#u5604-4,#u5614-4,#u5623-4
{
	position: relative;
	margin-right: -10000px;
	top: 22px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u5589,#u5589-bw
{
	z-index: 2;
	min-height: 62px;
}

#pu5680
{
	margin-top: 7px;
	width: 100%;
}

#u5680
{
	z-index: 44;
	height: 411px;
	position: relative;
	margin-right: -10000px;
	width: 94.8%;
	left: 2.61%;
}

#u5683-4
{
	z-index: 45;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	width: 32.04%;
	left: 33.99%;
}

#u5695
{
	z-index: 49;
	position: relative;
	margin-right: -10000px;
	margin-top: 152px;
	width: 23.96%;
	left: 38.03%;
}

#u5705-4
{
	z-index: 51;
	position: relative;
	margin-right: -10000px;
	margin-top: 106px;
	width: 36.59%;
	left: 31.78%;
}

.html
{
	background: #FFFFFF url("../images/background.jpg") no-repeat center center scroll;
	background-size: cover;
}

body
{
	position: relative;
	min-width: 320px;
}

#u5628_img,#u5695_img
{
	width: 100%;
}

